.env

*node_modules*

*nginx.crt
*nginx.key

.idea

ui/node_modules
ui/dist
ui/dist-ssr
ui/yarn-error.log
ui/yarn-lock.json
ui/.nuxt
ui/static/sw.js
ui/*.local
ui/.cert

api/node_modules
api/yarn-lock.json
api/yarn-error.log
api/.vscode
api/node_modules
api/.env

api/config/auth*

db/*.wt
db/*
dbdump

cypress
tests/videos
tests/screenshots
tests/*.png

logs
log
tmp
temp

queue/data/*
queue/log/*

__pycache__
__pycache__/*
workers/__pycache__
workers/__pycache__/
workers/__pycache__/*
workers/venv/
workers/venv/*
workers/.env
workers/core*

docs/.vitepress/cache/*

app.pid

qc
backup

!db/postgres
!db/backups
db/backups/*.sql
db/backups/*.psql
todo.md

.pm2