@tailwind base;
@tailwind components;
@tailwind utilities;

h1 {
    font-size: 3.2em;
    line-height: 1.1;
}


a {
    color: var(--va-primary);
}

.path {
  font-family: monospace;
  padding: 2px 4px;
  border-radius: 4px;
}