@tailwind base;
@tailwind components;
@tailwind utilities;

h1 {
    font-size: 3.2em;
    line-height: 1.1;
}


a {
    color: var(--va-primary);
}

.path {
  font-family: monospace;
  padding: 2px 4px;
  border-radius: 4px;
  word-break: break-all;
}

@layer utilities {
  .spacing-normal {
    word-spacing: normal;
  }
  .spacing-wide {
    word-spacing: 0.2em;
  }
  .spacing-wider {
    word-spacing: 0.3em;
  }
  .spacing-widest {
    word-spacing: 0.4em;
  }
}