VITE_API_REDIRECT_URL=http://api:3030
VITE_CAS_RETURN=https://localhost/auth/iucas
VITE_GOOGLE_RETURN=https://localhost/auth/google
VITE_CILOGON_RETURN=https://localhost/auth/cil

UPLOAD_API_BASE_PATH=https://localhost

VITE_SCRATCH_BASE_DIR=/path/to/scratch/base_dir
VITE_SCRATCH_MOUNT_DIR=/path/to/scratch/mount_dir
VITE_SCRATCH_INGESTION_RESTRICTED_DIRS=/pattern/to/match/multiple/restricted/dirs/**/*,path/to/single/restricted/dir
VITE_PROJECT_BASE_DIR=/path/to/project/base_dir
VITE_PROJECT_MOUNT_DIR=/path/to/project/mount_dir
VITE_PROJECT_INGESTION_RESTRICTED_DIRS=/pattern/to/match/multiple/restricted/dirs/*,path/to/single/restricted/dir

VITE_FILESYSTEM_SEARCH_SPACES=/path/to/space1,/path/to/space2
