VITE_API_REDIRECT_URL=http://api:3030
VITE_CAS_RETURN=https://localhost/auth/iucas
VITE_GOOGLE_RETURN=https://localhost/auth/google
VITE_CILOGON_RETURN=https://localhost/auth/cil
VITE_MICROSOFT_RETURN=https://localhost/auth/microsoft

VITE_UPLOAD_API_BASE_PATH=https://localhost
VITE_UPLOAD_API_URL=http://secure_download:3060 # for if it's the same host as in dev

VITE_SCRATCH_BASE_DIR=/path/to/scratch/base_dir
VITE_SCRATCH_MOUNT_DIR=/path/to/scratch/mount_dir
VITE_SCRATCH_INGESTION_RESTRICTED_DIRS=/pattern/to/match/multiple/restricted/dirs/**/*,path/to/single/restricted/dir

VITE_FILESYSTEM_SEARCH_SPACES=/path/to/space1,/path/to/space2
VITE_GRAFANA_REDIRECT_URL=http://grafana:3000
