VITE_API_REDIRECT_URL=http://api:3030
VITE_CAS_RETURN=https://localhost/auth/iucas
VITE_GOOGLE_RETURN=https://localhost/auth/google
VITE_CILOGON_RETURN=https://localhost/auth/cil

VITE_DATASET_INGESTION_SOURCE_DIR=/path/to/dataset/ingestion/source/dir
UPLOAD_API_BASE_PATH=https://localhost
