{
  "rules": {
    "no-underscore-dangle": 0,
    "no-unused-vars": ["error", { "argsIgnorePattern": "next" }],
    "no-use-before-define": ["error", { "variables": false }],
    "no-multi-str": 0,
    "consistent-return": 0,
    "camelcase": 0,
    "no-console": ["error", { "allow": ["warn", "error"] }],
    "comment-length/limit-multi-line-comments": [
      "warn",
      {
        "mode": "overflow-only",
        "maxLength": 80,
        "logicalWrap": true,
        "ignoreUrls": true,
        "ignoreCommentsWithCode": true,
        "tabSize": 2
      }
    ],
    "max-len": ["error", { "ignoreComments": true, "code": 120 }]
  },
  "env": {
    "node": true,
    "mocha": true,
    "es2020": true  // <- activate “es2020” globals
  },
  "parserOptions": {
    "ecmaVersion": 13
  },
  "extends": [
    "airbnb-base",
    "plugin:lodash-fp/recommended", // https://www.npmjs.com/package/eslint-plugin-lodash-fp
    "plugin:comment-length/recommended"
  ]
}